@model TheIssueTracker.Models.ViewModels.AssignDeveloperViewModel

@{
    ViewData["Title"] = "Assign Developer";
}
<div class="d-flex justify-content-center mt-5 flex-column align-items-center">
    <h3 class="my-5">Assign Ticket Developer</h3>
    <div class="card">
        <div class="card-header">
            <div class="card-title">@Model.Ticket?.Title</div>
        </div>
        <div class="card-body">
            <form asp-action="AssignDeveloper" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="Ticket!.Id" />
                <select asp-items="Model.DeveloperList" asp-for="DeveloperId">
                    <option value="">Unassigned</option>
                </select>
                <button type="submit" class="btn btn-primary my-3">Save</button>

                <a asp-action="Details" asp-route-id="@Model.Ticket!.Id" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}