@model TheIssueTracker.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="p-3 border border-2 shadow-lg bg-light">
	<form asp-action="Edit" method="post">
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="Created" />
		<input type="hidden" asp-for="SubmitterUserId" />
		<input type="hidden" asp-for="DeveloperUserId" />
		<input type="hidden" asp-for="ProjectId" />
		<input type="hidden" asp-for="Archived" />
		<input type="hidden" asp-for="ArchivedByProject" />
		<div class="row g-3 p-2">
			<div class="col-6 d-flex justify-content-center">
				<div class="row">
					<div class="col-12">
						<label asp-for="Title" class="control-label"></label>
						<input asp-for="Title" class="form-control" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div class="col-12">
						<label asp-for="Description" class="control-label"></label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="col-12 mt-2">
						<label asp-for="TicketTypeId" class="control-label"></label>
						<select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
						<span asp-validation-for="TicketTypeId" class="text-danger"></span>
					</div>
					<div class="col-12 mt-2">
						<label asp-for="TicketStatusId" class="control-label"></label>
						<select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
						<span asp-validation-for="TicketStatusId" class="text-danger"></span>
					</div>
					<div class="col-12 mt-2">
						<label asp-for="TicketPriorityId" class="control-label"></label>
						<select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
						<span asp-validation-for="TicketPriorityId" class="text-danger"></span>
					</div>				
					<div class="col-12 d-flex justify-content-center mt-2">
						<button type="submit" class="btn btn-lg btn-primary rounded-pill">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
