@model IEnumerable<TheIssueTracker.Models.Project>

@using TheIssueTracker.Models.ViewModels;
@using TheIssueTracker.Models.Enums;
@using TheIssueTracker.Services.Interfaces;
@using TheIssueTracker.Services;

@inject IBTFileService _FileService;
@inject IBTProjectService _ProjectService;
@inject IBTRolesService _RolesService;
@inject ManageUserRolesViewModel _ManageUserRoles;

@{
	ViewData["Title"] = "IndexCopy";
}

<div class="row">
	<div class="col-sm-4">
		<a asp-action="Create" asp-controller="Projects" class="btn btn-purple rounded-pill w-md waves-effect waves-light mb-3"><i class="mdi mdi-plus"></i> Create Project</a>
	</div>

</div>
<div class="container mt-4">
	<div class="row">
		@foreach(Project project in Model)
		{
		<div class="col-auto mb-3">
			<div class="card" style="width: 18rem; height:100%">
					<div class="card-header">
						<div class="row">
							<div class="col">
								<h5 style="color:darkred">
									@if ((await _ProjectService.GetProjectManagerAsync(project.Id, project.CompanyId)) == null)
									{
										<span style="color:darkred">Unassigned &nbsp; &nbsp; &nbsp; &nbsp;</span>
										

										<a asp-action="AssignPM" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-soft-warning rounded-pill"><i class="mdi mdi-plus"></i> Manager</a>
									}
									else
									{
										@await _ProjectService.GetProjectManagerAsync(project.Id, project.CompanyId)
										;
									}
								</h5>
							</div>
						</div>
						<h6 class="text-muted">Project Manager</h6>
					</div>					
				<div class="card-body">
					<a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id"><h5 class="card-title">@project.Name</h5></a>
						<p class="card-text">@project.Description</p>
				</div>

					<div class="card-footer">
						<div class="row row-cols-2">
						<div class="col">
								Developers: @*@(await _RolesService.GetUsersInRoleAsync(nameof(BTRoles.Developer), project.CompanyId))*@
						</div>					
						<div class="col">
								Submitters: @*@(await _RolesService.GetUsersInRoleAsync(nameof(BTRoles.Submitter), project.CompanyId))*@
						</div>
						</div>
					</div>
			</div>
		</div>	
		}
	</div>
</div>
